<div class="flex-box" style="padding-top: 50px">
        <table id="tc">
                <tr>
                        <td><select [(ngModel)]="Skill" class="ui search dropdown">

                                        <option>skills</option>
                                        <option>Meanstack</option>
                                        <option>DotNet</option>
                                        <option>DataScience</option>
                                   
                               
                                </select>
                        </td>&nbsp;&nbsp;
                        <hr>
                        <td><select [(ngModel)]="TimeSlot" class="ui search dropdown">
                                        <option>TimeSlot</option>
                                        <option>9to6</option>
                                        <option>11to8</option>
                                        <option>12to6</option>
                                        <option>10to4</option>
                                </select>
                        </td>&nbsp;&nbsp;
                        <hr>
                        <td><button (click)="Get()" class="bordered">Search</button></td>
                <tr>
        </table>
</div>
<br>
<br>
<div class="content">
<table id="tab">
                <tr>
                  <th>MentorId</th>
                  <th>MentorName</th>
                  <th>Email</th>
                  <th>Skill</th>
                  <th>Experience</th>
                </tr>
                <tr *ngFor = "let item of list">
                  <td>{{item.mentorId}}</td>
                  <td>{{item.mentorName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.skill}}</td>
                 <td>{{item.experience}}</td>
        
                </tr>
              
</table>
</div>
{{item|json}}