<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font Icon -->
  <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  <div class="main">

    <section class="signup">
    
      <div class="container">
        <div class="signup-content">
          <form method="POST" id="signup-form" class="signup-form">
            <h2 class="form-title">Login</h2>
            <div class="form-group">
              <input type="text" class="form-input" name="name" [(ngModel)]="id" id="name"
                placeholder="UserId" />
            </div>
            <div class="form-group">
              <input type="text" class="form-input" name="password"  [(ngModel)]="password"id="password" placeholder="Password" />
              <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>
     
            <div class="form-group">
              <button (click)="Login()" name="submit" id="submit" class="form-submit">Login</button>
            </div>
          </form>
          <p class="loginhere">
            Not have an account ? <a href="Signup/User" class="loginhere-link">Signup here</a>
          </p>
        </div>
      </div>
    </section>

  </div>

  <!-- JS -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>
