<div class="main">

    <h1>MENTOR ON DEMAND</h1>
    <hr>
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column">
            <div class="content">
            <img src="assets/images/IOT.png" alt="Lights" style="width:100%">
              <h3>Internet Of Things</h3>
              <p>The Internet of Things is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique identifiers and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction</p>
            </div>
          </div>
      <div class="column">
        <div class="content">
        <img src="assets/images/Dotnet.png" alt="Lights" style="width:100%">
          <h3>Dotnet</h3>
          <p>.NET Framework is a software framework developed by Microsoft that runs primarily on Microsoft Windows. It includes a large class library named as Framework Class Library and provides language interoperability across several programming languages</p>
      </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="assets/images/Cloud.jpg" alt="Nature" style="width:100%">
          <h3>CloudComputing</h3>
          <p>Cloud computing is the on-demand availability of computer system resources,
             especially data storage and computing power, without direct active management by the user. The term is generally used to describe data centers available to many users over the Internet</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="assets/images/Data.jpg" alt="Mountains" style="width:100%">
          <h3>DataScience</h3>
          <p>Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data.</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>
     <!-- Portfolio Gallery Grid -->
     <div class="row">
      <div class="column">
        <div class="content">
          <img src="assets/images/AI.jpeg" alt="Mountains" style="width:100%">
          <h3>ArtificialIntelligence</h3>
          <p>In computer science, artificial intelligence, sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans</p>
        </div>
      </div>
      <div class="column">
          <div class="content">
            <img src="assets/images/Mean.jpg" alt="Mountains" style="width:100%">
            <h3>MeanStack</h3>
            <p> MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications. The MEAN stack is MongoDB, Express.js, AngularJS, and Node.js</p>
          </div>
        </div>
      <div class="column">
        <div class="content">
        <img src="assets/images/qc.jpg" alt="Nature" style="width:100%">
          <h3>Quantum Computing</h3>
          <p>Quantum computing is the study of a non-classical model of computation. Whereas traditional models of computing such as the Turing machine or Lambda calculus rely on "classical" representations of 
            computational memory.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="assets/images/bchain.jpg" alt="Mountains" style="width:100%">
          <h3>Block Chain</h3>
          <p>A blockchain, originally block chain, is a growing list of records, called blocks, that are linked using cryptography. Each block contains a cryptographic hash of the previous block, a timestamp, and transaction data. 
            By design, a blockchain is resistant to modification of the data</p>
        </div>
      </div>
    <!-- END GRID -->
    <!-- </div>
    
    <div class="content">
      <img src="assets/images/Mean.jpg" alt="Bear" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
     -->
    <!-- END MAIN -->
    </div>
